@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
:root {
    --x: #F6DCD7;
    --y: #E9B8DC;
}
body{
    background-color: white;
}
.dropdown {
    width: 50vw;
    margin: 5rem auto;
}
.dropdown_select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 3rem;
    font-size: 1.8rem;
    background-color: var(--x);
    cursor: pointer;
    font-weight: bold;
}
.dropdown:hover .dropdown_list{
    display: block;
}
.dropdown_list {
    margin-top: 15px;
    list-style-type: none;
    display: none;
}
.dropdown_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: var(--x);
    font-size: 1.8rem;
    transition: background-color .2 linear;
    cursor: pointer;
    font-weight: bold;
}
.dropdown_item:first-child {
    border-radius: 5px 5px 0 0;
    position: relative;
}
.dropdown_item:last-child {
    border-radius: 0 0 5px 5px;
}
.dropdown_item:hover{
    background-color: var(--y);
}
.dropdown_item:first-child:before {
    content: "";
    position: absolute;
    transform: translateY(-100%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--x);
    top: 0;
    left: 3rem;
}
.dropdown_item:first-child:hover:before {
    border-bottom-color: var(--y);
}